tr
	td= content.issue
	td= content.escto
	td= content.prev
	td= content.next
	td
		form.hiddenInput(name=content.id)
			input.hiddenInput(name='_id', value=content.id, type='hidden')
			input.hiddenInput(name='_revid', value=content.revid, type='hidden')
			input.hiddenInput(name='issue', value=content.issue, type='hidden')
			input.hiddenInput(name='escto', value=content.escto, type='hidden')
			input.hiddenInput(name='prev', value=content.prev, type='hidden')
			input.hiddenInput(name='next', value=content.next, type='hidden')
		button.btn.btn-primary.btn-mini.followUp(name=content.id) Follow Up
	td
		button.btn.btn-success.btn-mini.resolve(name=content.id) Resolved!